html,
body {
    height: 100%;
}

.global {
    height         : 100%;
    display        : flex;
    flex-direction : column;
    background     : url(../../assets/images/sign-bg.jpg)no-repeat center top;
    background-size: cover;
}
.body{
    width: 85%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
    a{
        color: #fff;
        font-weight: bold;
        font-size: 24px;
    }
}

.form{
    width: 85%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    .search{
        font-size: 14px;
        color: #cccc;
        margin-bottom: 20px;
    }
    h2{
        margin: 10px 0;
        font-size: 20px;
    }
    p{
        width: 100%;
        margin: 10px 0;
        input{
            width:100%;
            height: 40px;
            border-radius: 20px;
            text-indent: 20px;
            color: #fff;
            background-color: rgba(255,255,255,.4);
            &::placeholder{
                color: #fff;
                font-size: 14px;
            }
        }
        button{
            width:100%;
            height: 40px;
            border-radius: 20px;
            text-indent: 20px;
            color: #fff;
            background-color: rgba(48, 216, 82, .6);
        }
    }
    .code{
        input{
            width: 60%;
            margin-right: 5%;
        }
        canvas{
            width: 35%;
            height: 40px;
            // line-height: 40px;
            vertical-align: top;
            background-color: #fff;
        }
    }
 
    .iconfont{
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
    }
}
.mes{
    color: deeppink;
    font-size: 22px;
    text-align: center;
}
