html,body {
    height: 100%;
}

.global {
    height        : 100%;
    display       : flex;
    flex-direction: column;
}

header {
    height          : 30px;
    background-color: #fff;
    text-align      : center;
    font-size       : 16px;
    margin-bottom   : 20px;
}

.body {
    display: flex;
    flex-direction: column;
    height: 10px;
    flex-grow      : 1;
    background     : url(../../assets/images/advertisement-bg.jpg)no-repeat center top;
    background-size: cover;
}

 .body .time {
    margin          : 20px 20px;
    width           : 70px;
    font-size       : 12px;
    line-height: 20px;
    background-color: #fff;
    border-radius   : 10px;
    text-align: center;
    align-self: flex-end;  
}
.body p{
    height: 100px;
    align-self: flex-end;
    color: #fff;
    font-size: 50px;
    align-self: center;
    position: absolute;
    bottom: 50px;
    animation: jump 2s;
} 

@keyframes jump{
    0%{ opacity: 0; bottom: 100px }
    100%{opacity: 1;bottom:50px;}
}